@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';


body {

  background: url(../bg.jpg) no-repeat center center;
  background-size: cover;
  height: 2300px;
  z-index: -3;


  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #0f0f0f;
    opacity: .6;
    height: 2320px;
    z-index: -2;

  }
}

.socialicons {
  @include span-columns(4);
  height: 5em;

  z-index: -1;
  display: block;
  max-width: 15em;
  margin-left: 56%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container {
  @include outer-container(1030px);
  display: block;
  height: 130em;
  z-index: -1;
margin-left: 10.5%;
margin-top: 5em;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
}

.button-list {
@include outer-container(1030px);
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}


.button {
  @include span-columns(3);

}

.buttons {
  width: 100%;
  height: em(44);
 background-color: #B32E2E;
 border-bottom: solid gray;
 color: white;
}

.hero::before {
content: "";
background-image: url(../peraltalogo.png);
display: block;
position: absolute;
top: 110px;
left: 20px;
right: 0;
bottom: 0;
background-size: cover;
width: 415px;
height: 241px;
}

.hero {
@include outer-container(1030px);
background-image: url(../topimage.png);
background-size: cover;
background-position: top right;
width: 100%;
height: 355px;
border: 10px solid rgba(254, 254, 254, 1);
}

.picturebutton-list {
  @include outer-container(1030px);
  list-style-type: none;
}

.dot {
  @include span-columns(4);
  width: 5%;
  margin: 0;
  position: relative;
  top: 0;
  right: 0;
  left: 420px;
  bottom: 0;
}

.dots {
  margin: 0;
}

.article-list {
  @include outer-container(1030px);
    list-style-type: none;
    padding-left: 0;
}

.article {
  @include span-columns(4)
}

.articles {
  background-color: rgba(254, 254, 254, 1);
  width: 100%;
  height: 415px;
  margin-top: 0;
  padding: 10px;
}

.read-more-text {
  color: #B32E2E;
  text-align: center;
}

.facepicture-list {
  @include span-columns(12);
  margin: 10px;
}

.face1 {
@include span-columns(4 of 12);
background-image: url(../skater4.png);
padding-left: 0;
height: 230px;
background-size:cover;
background-position: center;
border: 5px solid rgba(254, 254, 254, 1);
}

.facetext1 {
  color: #FFFFFF;
  height: 10px;
  width: 10px;
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
}

.face2 {
@include span-columns (4 of 12);
background-image: url(../skater3.png);
padding: 10px;
height: 230px;
background-size: cover;
background-position: center;
border: 5px solid rgba(254, 254, 254, 1);
}

.facetext2 {

}


.face3 {
@include span-columns(8 of 12);
background-image: url(../skater1.png);
height: 230px;
margin-top: 25px;
background-size: cover;
background-position: center;
border: 5px solid rgba(254, 254, 254, 1);
}

.face4 {
@include span-columns(4 of 12);
background-image: url(../skater2.png);
padding: 10px;
height: 486px;
@include omega();
background-size: cover;
background-position: right;
float: right;
position:relative;
bottom: 230px;
border: 5px solid rgba(254, 254, 254, 1);
}

.skateboards {
  @include outer-container;

  height: 300px;
}

.board-pictures {
  @include span-columns(12);
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  bottom: 220px;
height: 370px;
padding-top: 15px;
padding-right: 20px;

}

.board-pic1 {
  @include span-columns(1.2 of 12);
  display: inline-block;
  vertical-align: middle;
  background-image: url(../sk8-1.png);
  background-size: cover;
  bottom: 200px;
  height: 330px;
}

.board-pic2 {
  @include span-columns(1.2 of 12);
  display: inline-block;
  vertical-align: middle;
  background-image: url(../sk8-2.png);
  background-size: cover;
  bottom: 200px;
  height: 330px;
}

.board-pic3 {
  @include span-columns(1.2 of 12);
  display: inline-block;
  vertical-align: middle;
  background-image: url(../sk8-3.png);
  background-size: cover;
  bottom: 200px;
  height: 330px;
}

.board-pic4 {
  @include span-columns(1.2 of 12);
  display: inline-block;
  vertical-align: middle;
  background-image: url(../sk8-4.png);
  background-size: cover;
  bottom: 200px;
  height: 330px;
}

.board-pic5 {
  @include span-columns(1.2 of 12);
  display: inline-block;
  vertical-align: middle;
  background-image: url(../sk8-5.png);
  background-size: cover;
  bottom: 200px;
  height: 330px;
}

.board-pic6 {
  @include span-columns(1.2 of 12);
  display: inline-block;
  vertical-align: middle;
  background-image: url(../sk8-6.png);
  background-size: cover;
  bottom: 200px;
  height: 330px;
}

.board-pic7 {
  @include span-columns(1.2 of 12);
  display: inline-block;
  vertical-align: middle;
  background-image: url(../sk8-7.png);
  background-size: cover;
  bottom: 200px;
  height: 330px;
}

.board-pic8 {
  @include span-columns(1.2 of 12);
  display: inline-block;
  vertical-align: middle;
  background-image: url(../sk8-8.png);
  background-size: cover;
  bottom: 200px;
  height: 330px;
}

.board-pic9 {
  @include span-columns(1.2 of 12);
  display: inline-block;
  vertical-align: middle;
  background-image: url(../sk8-9.png);
  background-size: cover;
  bottom: 200px;
  height: 330px;
}

.board-pic10 {
  @include span-columns(1.2 of 12);
  display: inline-block;
  vertical-align: middle;
  background-image: url(../sk8-10.png);
  background-size: cover;
  bottom: 200px;
  height: 330px;
}

.contact-us-wrapper {
@include outer-container(1030px);
background-color: white;
margin-left: 0;
margin-right: 0;
height: 22.63em;
padding: 10px;
box-shadow: 0 4 rgba(0, 0, 0, 0.3);
padding-bottom: 20px;
position: absolute;
margin-top: 600px;
}

.contact-us-article {
  float: left;
  display: block;
  margin-right: 2.35%;
  width: 57.35%;
  padding-left: 10px;
  line-height: 2em;
}

.contact-heading {
  margin-top: 10px;
}

.p {
  display: block;
}

.contact-us-input:last-child {
  margin-right: 0;
}

.contact-us-input {
  float: left;
  display: block;
  width: 40.29%;
}

.contact-us-inputs {
  width: 100%;
}

.form {
  display: block;
  margin-top: 0em;
}

.contact-input {
  float: left;
  display: block;
  margin-right: 5.85%;
  width: 89.41%;
  height: 2.75em;
  margin: 1.25em 0;
  border: 1px solid #9f9f9f;
  box-shadow: inset 3px 3px rgba(0,0,0,0.3);
  padding: 5px;
}

.contact-input-your-message {
  resize: none;
  height: 6.75em;
  box-shadow: inset 3px 3px rgba(0,0,0,0.3);
  width: 89.41%;
}

.submit:last-child {
  margin-right: 0;
}

.submit {
  float: left;
  display: block;
  width: 57.66%;
  margin-left: 31.755%;
  background-color: #B32E2E;
  height: 40px;
  border: none;
  color: white;
  text-transform: uppercase;
}
